/*-----------
    RESET 
------------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-------------- 
    CONTAINERS
----------------*/

body{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    margin: auto ;
    width: 1440px;
    height: 95vh;
    background-color: lightgray;
}

.contact-list{
    background-color: #fff;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #B1B1B1;
}

.chat-box{
    width: 70%;
    height: 100%;
}

.sec-head{
    height: 70px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    column-gap: 10px;
    margin-left: 10px;
}

.user-btn{
    margin-right: 15px;
}

.notify-request{
    background-color: #8EDAFC;
    height: 80px;
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
    background-color: #FAFAFA;
    padding: 5px 8px;
}

.chat-list-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    list-style: none;
    overflow: scroll;
}

.chat-list-box li{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.user-active{
    display: flex;
    align-items: center;
}

.msg-hour{
    font-size: 12px;
    margin-left: 35%;
}

.chat{
    background-image: url("../img/mine.jpg");
    height: calc(100% - 140px);
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.chat-container{
    width: 80%;
    margin-top: 80px;

}

.msg{
    width: 100%;
    display: flex;
    margin: 5px 0px;
}

.msg--sended{
    justify-content: flex-end;
}

.msg--received{
    justify-content: flex-start;
}

.text-wrapper{
    position: relative;
    border-radius: 10px;
    padding: 15px 100px 15px 20px;
}

.tw-sended{
    background-color: #D5F9BA;
}

.tw-received{
    background-color: #fff;
}

.hour-send{
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: x-small;
}


.user-chat-tools{
    background-color: #F3EEEA;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#msg-send{
    flex-grow: 1;
    margin: 0px 25px;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
}
/*------------ 
    BUTTONS
--------------*/
.btn_cs{
    background-color: transparent;
    border: none;
    color: #B1B1B1;
    margin: 0px 5px;
    cursor: pointer;
}

.btn_cs_search{
    border: 1px solid #F5F5F5;
    padding: 3px 20px;
    margin: 0px;
}

.btn_cs_mic, .btn_cs_emoji{
    font-size: 24px !important;
}

.btn_cs_emoji{
    margin-left: 50px;
}

.btn_cs_mic{
    margin-right: 50px;

}

/*---------- 
    INPUT
------------*/

#find-bar{
    flex-grow: 1;
    padding: 0px 0px 0px 5px;
    border: 1px solid #F5F5F5;
}


/*------------ 
      TYPO
--------------*/

.btn_cs{
    font-size: 1.25rem;
}

.notify-text a{
    color: #4F7485;
}

.user-info small, .msg-hour, .hour-send{
    color: #B6B9BB;
}

.chat-list-box li{
    background-color: #fff;   
}


/*-----------
    THUMBS 
-----------*/

.user-img img{
    width: 100%;
    border-radius: 50%;
}

.user-img{
    margin-right: 20px;
}

.chat-list-box .user-img{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notify-img i{
    background-color: #F2FBFF;
    color: #8EDAFC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    margin: 0px 10px 0px 20px;
}

.chat-list-box li:hover{
    background-color: #E9EBEB;
}