/*-----------
    RESET 
------------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-------------- 
    CONTAINERS
----------------*/

body{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    margin: auto ;
    width: 1440px;
    height: 95vh;
    background-color: lightgray;
}

.contact-list{
    background-color: #fff;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #B1B1B1;
}

.chat-box{
    width: 70%;
    height: 100%;
}

.sec-head{
    height: 70px;
    background-color: #E6DFD6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    column-gap: 10px;
    margin-left: 10px;
}

.user-btn{
    margin-right: 15px;
}

.notify-request{
    background-color: #8EDAFC;
    height: 80px;
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
    background-color: #FAFAFA;
    padding: 5px 8px;
}

.chat-list-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    list-style: none;
    overflow: scroll;
}

.chat-list-box li{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.user-info{
    margin-left: 20px;
}

.msg-hour{
    font-size: 12px;
    margin-left: 35%;
}
/*------------ 
    BUTTONS
--------------*/
.btn_cs{
    background-color: transparent;
    border: none;
    color: #B1B1B1;
    margin: 0px 5px;
    cursor: pointer;
}

.btn_cs_search{
    border: 1px solid #F5F5F5;
    padding: 3px 20px;
    margin: 0px;
}


/*---------- 
    INPUT
------------*/

#find-bar{
    flex-grow: 1;
    padding: 0px 0px 0px 5px;
    border: 1px solid #F5F5F5;
}


/*------------ 
      TYPO
--------------*/

.btn_cs{
    font-size: 1.25rem;
}

.notify-text a{
    color: #4F7485;
}

.user-info small{
    color: #B6B9BB;
}

.chat-list-box li{
    background-color: #fff;   
}

/*-----------
    THUMBS 
-----------*/

.user-img img{
    width: 100%;
    border-radius: 50%;
}

.chat-list-box .user-img{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notify-img i{
    background-color: #F2FBFF;
    color: #8EDAFC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    margin: 0px 10px 0px 20px;
}